In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/individual_contributions.csv')
df.head()

/Users/marshallmiley/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (2,11,14,20,21,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,cycle,fec_trans_id,contributor_id,contributor_name,recipient_id,org_name,ult_org,real_code,date,...,recip_code,type,committee_id,other_id,gender,old_format_employer_occupation,microfilm,occupation,employer,source
0,1,2010,1010420120009248286,k00019100751,William G Crook,N00009638,Self-Employed,NaN,G0000,2011-03-01 00:00:00,...,DI,15,C00431445,,,NaN,11931873404.0,SELF,SELF,GEN
1,2,2012,1010120130011206490,k0001544935,"JONES, BERNHARDT N",C00042366,Retired,NaN,X1200,2012-10-05 00:00:00,...,DP,15,C00042366,NaN,N,NaN,12021033713.0,RETIRED,NaN,Gen
2,3,2012,1010120130011206620,h30019228431,"YAGGY, DUNCAN",C00042366,Yaggy Corp,NaN,Y4000,2012-10-16 00:00:00,...,DP,15E,C00042366,C00401224,M,NaN,12021053305.0,MANAGER,YAGGY CORPORATION,
3,4,2012,1010120130011206706,i3003429059,"KELETI, STEVEN",C00042366,Judge Technical Services,NaN,Y4000,2012-10-17 00:00:00,...,DP,15E,C00042366,C00401224,M,NaN,12021044111.0,ENGINEER,JUDGE TECHNICAL SERVICES,
4,5,2012,1010120130011206819,m0002167975@,"HAWTHORNE, JOAN",C00042366,University of North Dakota,NaN,H5100,2012-10-11 00:00:00,...,DP,15E,C00042366,C00401224,F,NaN,12021043352.0,EDUCATOR,UNIVERSITY OF NORTH DAKOTA,Name

In [3]:
df.isnull().sum()

id                                       0
cycle                                    0
fec_trans_id                             0
contributor_id                           0
contributor_name                     39801
recipient_id                           861
org_name                           5198240
ult_org                           23814368
real_code                                2
date                                   504
amount                                   0
street                            13170743
city                                185887
state                                 4945
zip                                  11472
recip_code                             936
type                                     0
committee_id                             0
other_id                          23225801
gender                              185025
old_format_employer_occupation     8897251
microfilm                          1038626
occupation                        12306818
employer                          13024949
source                             2404188
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24446378 entries, 0 to 24446377
Data columns (total 25 columns):
 #   Column                          Dtype
---  ------                          -----
 0   id                              int64
 1   cycle                           int64
 2   fec_trans_id                    object
 3   contributor_id                  object
 4   contributor_name                object
 5   recipient_id                    object
 6   org_name                        object
 7   ult_org                         object
 8   real_code                       object
 9   date                            object
 10  amount                          int64
 11  street                          object
 12  city                            object
 13  state                           object
 14  zip                             object
 15  recip_code                      object
 16  type                            object
 17  committee_id                    object
 18  other_id                        object
 19  gender                          object
 20  old_format_employer_occupation  object
 21  microfilm                       object
 22  occupation                      object
 23  employer                        object
 24  source                          object
dtypes: int64(3), object(22)
memory usage: 4.6+ GB

In [14]:
df_indcont = df[['contributor_id', 'contributor_name', 'org_name', 'recipient_id', 'recip_code', 'gender', 'amount']]

In [12]:
df.columns

Index(['id', 'cycle', 'fec_trans_id', 'contributor_id', 'contributor_name',
       'recipient_id', 'org_name', 'ult_org', 'real_code', 'date', 'amount',
       'street', 'city', 'state', 'zip', 'recip_code', 'type', 'committee_id',
       'other_id', 'gender', 'old_format_employer_occupation', 'microfilm',
       'occupation', 'employer', 'source'],
      dtype='object')

In [15]:
df_indcont.head()

,contributor_id,contributor_name,org_name,recipient_id,recip_code,gender,amount
0,k00019100751,William G Crook,Self-Employed,N00009638,DI,,200
1,k0001544935,"JONES, BERNHARDT N",Retired,C00042366,DP,N,250
2,h30019228431,"YAGGY, DUNCAN",Yaggy Corp,C00042366,DP,M,500
3,i3003429059,"KELETI, STEVEN",Judge Technical Services,C00042366,DP,M,1000
4,m0002167975@,"HAWTHORNE, JOAN",University of North Dakota,C00042366,DP,F,500

In [7]:
df.dtypes

id                                 int64
cycle                              int64
fec_trans_id                      object
contributor_id                    object
contributor_name                  object
recipient_id                      object
org_name                          object
ult_org                           object
real_code                         object
date                              object
amount                             int64
street                            object
city                              object
state                             object
zip                               object
recip_code                        object
type                              object
committee_id                      object
other_id                          object
gender                            object
old_format_employer_occupation    object
microfilm                         object
occupation                        object
employer                          object
source                            object
dtype: object

In [18]:
df_indcont = df_indcont.dropna(subset=['recipient_id'])

In [19]:
df_indcont.isnull().sum()

contributor_id            0
contributor_name      39800
org_name            5198219
recipient_id              0
recip_code               75
gender               184810
amount                    0
dtype: int64

In [20]:
df_indcont.fillna('', inplace=True)

/Users/marshallmiley/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:5182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [21]:
df_indcont.isnull().sum()

contributor_id      0
contributor_name    0
org_name            0
recipient_id        0
recip_code          0
gender              0
amount              0
dtype: int64

In [22]:
df_indcont.head()

,contributor_id,contributor_name,org_name,recipient_id,recip_code,gender,amount
0,k00019100751,William G Crook,Self-Employed,N00009638,DI,,200
1,k0001544935,"JONES, BERNHARDT N",Retired,C00042366,DP,N,250
2,h30019228431,"YAGGY, DUNCAN",Yaggy Corp,C00042366,DP,M,500
3,i3003429059,"KELETI, STEVEN",Judge Technical Services,C00042366,DP,M,1000
4,m0002167975@,"HAWTHORNE, JOAN",University of North Dakota,C00042366,DP,F,500

In [26]:
df_indcont.duplicated().sum()

4301438

In [30]:
df_indcont.count()

contributor_id      24445517
contributor_name    24445517
org_name            24445517
recipient_id        24445517
recip_code          24445517
gender              24445517
amount              24445517
dtype: int64

In [33]:
df_indcont = df_indcont.drop_duplicates()

In [34]:
df_indcont.duplicated().sum()

0

In [35]:
df_indcont.to_csv('data/individual_contributions_clean.csv')

In [36]:
df_indcont.head()

,contributor_id,contributor_name,org_name,recipient_id,recip_code,gender,amount
0,k00019100751,William G Crook,Self-Employed,N00009638,DI,,200
1,k0001544935,"JONES, BERNHARDT N",Retired,C00042366,DP,N,250
2,h30019228431,"YAGGY, DUNCAN",Yaggy Corp,C00042366,DP,M,500
3,i3003429059,"KELETI, STEVEN",Judge Technical Services,C00042366,DP,M,1000
4,m0002167975@,"HAWTHORNE, JOAN",University of North Dakota,C00042366,DP,F,500