In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/individual_contributions.csv')
df.head()

/Users/marshallmiley/opt/anaconda3/envs/PythonData/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (2,11,14,20,21,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,cycle,fec_trans_id,contributor_id,contributor_name,recipient_id,org_name,ult_org,real_code,date,...,recip_code,type,committee_id,other_id,gender,old_format_employer_occupation,microfilm,occupation,employer,source
0,1,2010,1010420120009248286,k00019100751,William G Crook,N00009638,Self-Employed,NaN,G0000,2011-03-01 00:00:00,...,DI,15,C00431445,,,NaN,11931873404.0,SELF,SELF,GEN
1,2,2012,1010120130011206490,k0001544935,"JONES, BERNHARDT N",C00042366,Retired,NaN,X1200,2012-10-05 00:00:00,...,DP,15,C00042366,NaN,N,NaN,12021033713.0,RETIRED,NaN,Gen
2,3,2012,1010120130011206620,h30019228431,"YAGGY, DUNCAN",C00042366,Yaggy Corp,NaN,Y4000,2012-10-16 00:00:00,...,DP,15E,C00042366,C00401224,M,NaN,12021053305.0,MANAGER,YAGGY CORPORATION,
3,4,2012,1010120130011206706,i3003429059,"KELETI, STEVEN",C00042366,Judge Technical Services,NaN,Y4000,2012-10-17 00:00:00,...,DP,15E,C00042366,C00401224,M,NaN,12021044111.0,ENGINEER,JUDGE TECHNICAL SERVICES,
4,5,2012,1010120130011206819,m0002167975@,"HAWTHORNE, JOAN",C00042366,University of North Dakota,NaN,H5100,2012-10-11 00:00:00,...,DP,15E,C00042366,C00401224,F,NaN,12021043352.0,EDUCATOR,UNIVERSITY OF NORTH DAKOTA,Name

In [ ]:
df = df[df['date'] > '2000-01-01']

In [3]:
df.isnull().sum()

id                                       0
cycle                                    0
fec_trans_id                             0
contributor_id                           0
contributor_name                     39801
recipient_id                           861
org_name                           5198240
ult_org                           23814368
real_code                                2
date                                   504
amount                                   0
street                            13170743
city                                185887
state                                 4945
zip                                  11472
recip_code                             936
type                                     0
committee_id                             0
other_id                          23225801
gender                              185025
old_format_employer_occupation     8897251
microfilm                          1038626
occupation                        12306818
employer                          13024949
source                             2404188
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24446378 entries, 0 to 24446377
Data columns (total 25 columns):
 #   Column                          Dtype
---  ------                          -----
 0   id                              int64
 1   cycle                           int64
 2   fec_trans_id                    object
 3   contributor_id                  object
 4   contributor_name                object
 5   recipient_id                    object
 6   org_name                        object
 7   ult_org                         object
 8   real_code                       object
 9   date                            object
 10  amount                          int64
 11  street                          object
 12  city                            object
 13  state                           object
 14  zip                             object
 15  recip_code                      object
 16  type                            object
 17  committee_id                    object
 18  other_id                        object
 19  gender                          object
 20  old_format_employer_occupation  object
 21  microfilm                       object
 22  occupation                      object
 23  employer                        object
 24  source                          object
dtypes: int64(3), object(22)
memory usage: 4.6+ GB

In [5]:
df.count()

id                                24446378
cycle                             24446378
fec_trans_id                      24446378
contributor_id                    24446378
contributor_name                  24406577
recipient_id                      24445517
org_name                          19248138
ult_org                             632010
real_code                         24446376
date                              24445874
amount                            24446378
street                            11275635
city                              24260491
state                             24441433
zip                               24434906
recip_code                        24445442
type                              24446378
committee_id                      24446378
other_id                           1220577
gender                            24261353
old_format_employer_occupation    15549127
microfilm                         23407752
occupation                        12139560
employer                          11421429
source                            22042190
dtype: int64

In [6]:
#df = df.drop_duplicates(subset=['cycle', 'recipient_id'], keep='first')

In [7]:
df.columns

Index(['id', 'cycle', 'fec_trans_id', 'contributor_id', 'contributor_name',
       'recipient_id', 'org_name', 'ult_org', 'real_code', 'date', 'amount',
       'street', 'city', 'state', 'zip', 'recip_code', 'type', 'committee_id',
       'other_id', 'gender', 'old_format_employer_occupation', 'microfilm',
       'occupation', 'employer', 'source'],
      dtype='object')

In [8]:
df['unique_key'] = df['cycle'].astype(str) + df['recipient_id']
df.head()

,id,cycle,fec_trans_id,contributor_id,contributor_name,recipient_id,org_name,ult_org,real_code,date,...,type,committee_id,other_id,gender,old_format_employer_occupation,microfilm,occupation,employer,source,unique_key
0,1,2010,1010420120009248286,k00019100751,William G Crook,N00009638,Self-Employed,NaN,G0000,2011-03-01 00:00:00,...,15,C00431445,,,NaN,11931873404.0,SELF,SELF,GEN,2010N00009638
1,2,2012,1010120130011206490,k0001544935,"JONES, BERNHARDT N",C00042366,Retired,NaN,X1200,2012-10-05 00:00:00,...,15,C00042366,NaN,N,NaN,12021033713.0,RETIRED,NaN,Gen,2012C00042366
2,3,2012,1010120130011206620,h30019228431,"YAGGY, DUNCAN",C00042366,Yaggy Corp,NaN,Y4000,2012-10-16 00:00:00,...,15E,C00042366,C00401224,M,NaN,12021053305.0,MANAGER,YAGGY CORPORATION,,2012C00042366
3,4,2012,1010120130011206706,i3003429059,"KELETI, STEVEN",C00042366,Judge Technical Services,NaN,Y4000,2012-10-17 00:00:00,...,15E,C00042366,C00401224,M,NaN,12021044111.0,ENGINEER,JUDGE TECHNICAL SERVICES,,2012C00042366
4,5,2012,1010120130011206819,m0002167975@,"HAWTHORNE, JOAN",C00042366,University of North Dakota,NaN,H5100,2012-10-11 00:00:00,...,15E,C00042366,C00401224,F,NaN,12021043352.0,EDUCATOR,UNIVERSITY OF NORTH DAKOTA,Name,2012C00042366

In [9]:
df[['unique_key', 'contributor_id', 'date']].duplicated().sum()

1423220

In [10]:
df_duped = df.drop_duplicates(subset=['unique_key', 'contributor_id', 'date'], keep='first')

In [11]:
df_indcont = df_duped[['unique_key', 'date', 'contributor_id', 'contributor_name', 'gender',  'occupation', 'org_name', 'state', 'zip', 'recipient_id', 'recip_code', 'amount']]

In [12]:
df_indcont.head()

,unique_key,date,contributor_id,contributor_name,gender,occupation,org_name,state,zip,recipient_id,recip_code,amount
0,2010N00009638,2011-03-01 00:00:00,k00019100751,William G Crook,,SELF,Self-Employed,NY,10022,N00009638,DI,200
1,2012C00042366,2012-10-05 00:00:00,k0001544935,"JONES, BERNHARDT N",N,RETIRED,Retired,OR,97404,C00042366,DP,250
2,2012C00042366,2012-10-16 00:00:00,h30019228431,"YAGGY, DUNCAN",M,MANAGER,Yaggy Corp,NC,27705,C00042366,DP,500
3,2012C00042366,2012-10-17 00:00:00,i3003429059,"KELETI, STEVEN",M,ENGINEER,Judge Technical Services,MA,02148,C00042366,DP,1000
4,2012C00042366,2012-10-11 00:00:00,m0002167975@,"HAWTHORNE, JOAN",F,EDUCATOR,University of North Dakota,ND,58201,C00042366,DP,500

In [13]:
df_indcont.dtypes

unique_key          object
date                object
contributor_id      object
contributor_name    object
gender              object
occupation          object
org_name            object
state               object
zip                 object
recipient_id        object
recip_code          object
amount               int64
dtype: object

In [14]:
df_indcont = df_indcont.dropna(subset=['recipient_id'])

In [15]:
df_indcont.isnull().sum()

unique_key                 0
date                     312
contributor_id             0
contributor_name       30530
gender                 63008
occupation          11507075
org_name             5069287
state                   4285
zip                     9212
recipient_id               0
recip_code                73
amount                     0
dtype: int64

In [16]:
df_indcont.fillna('', inplace=True)

In [17]:
df_indcont.isnull().sum()

unique_key          0
date                0
contributor_id      0
contributor_name    0
gender              0
occupation          0
org_name            0
state               0
zip                 0
recipient_id        0
recip_code          0
amount              0
dtype: int64

In [18]:
df_indcont.head()

,unique_key,date,contributor_id,contributor_name,gender,occupation,org_name,state,zip,recipient_id,recip_code,amount
0,2010N00009638,2011-03-01 00:00:00,k00019100751,William G Crook,,SELF,Self-Employed,NY,10022,N00009638,DI,200
1,2012C00042366,2012-10-05 00:00:00,k0001544935,"JONES, BERNHARDT N",N,RETIRED,Retired,OR,97404,C00042366,DP,250
2,2012C00042366,2012-10-16 00:00:00,h30019228431,"YAGGY, DUNCAN",M,MANAGER,Yaggy Corp,NC,27705,C00042366,DP,500
3,2012C00042366,2012-10-17 00:00:00,i3003429059,"KELETI, STEVEN",M,ENGINEER,Judge Technical Services,MA,02148,C00042366,DP,1000
4,2012C00042366,2012-10-11 00:00:00,m0002167975@,"HAWTHORNE, JOAN",F,EDUCATOR,University of North Dakota,ND,58201,C00042366,DP,500

In [19]:
df_indcont.duplicated().sum()

0

In [20]:
df_indcont.count()

unique_key          23022442
date                23022442
contributor_id      23022442
contributor_name    23022442
gender              23022442
occupation          23022442
org_name            23022442
state               23022442
zip                 23022442
recipient_id        23022442
recip_code          23022442
amount              23022442
dtype: int64

In [21]:
df_indcont = df_indcont.drop_duplicates(keep='first')

In [22]:
df_indcont.duplicated().sum()

0

In [24]:
df_indcont.count()

unique_key          18028109
date                18028109
contributor_id      18028109
contributor_name    18028109
gender              18028109
occupation          18028109
org_name            18028109
state               18028109
zip                 18028109
recipient_id        18028109
recip_code          18028109
amount              18028109
dtype: int64

In [25]:
df_indcont.to_csv('data/individual_contributions_clean.csv')

In [26]:
df_indcont.head()

,unique_key,date,contributor_id,contributor_name,gender,occupation,org_name,state,zip,recipient_id,recip_code,amount
0,2010N00009638,2011-03-01 00:00:00,k00019100751,William G Crook,,SELF,Self-Employed,NY,10022,N00009638,DI,200
1,2012C00042366,2012-10-05 00:00:00,k0001544935,"JONES, BERNHARDT N",N,RETIRED,Retired,OR,97404,C00042366,DP,250
2,2012C00042366,2012-10-16 00:00:00,h30019228431,"YAGGY, DUNCAN",M,MANAGER,Yaggy Corp,NC,27705,C00042366,DP,500
3,2012C00042366,2012-10-17 00:00:00,i3003429059,"KELETI, STEVEN",M,ENGINEER,Judge Technical Services,MA,02148,C00042366,DP,1000
4,2012C00042366,2012-10-11 00:00:00,m0002167975@,"HAWTHORNE, JOAN",F,EDUCATOR,University of North Dakota,ND,58201,C00042366,DP,500